/* ----------------------------------------
   Global
------------------------------------------- */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

/*.no-video .video-container .poster,
.touch .video-container .poster {
    display: block;
}*/

.video-container {
    /*bottom: 0%;
    left: 0%;
    height: 100%;*/
    width: 100%;
    overflow: hidden;
    background: #000000;
}

/*.video-container .poster img {
    width: 100%;
    bottom: 0;
}*/

/*.video-container .filter {
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}*/

.video-container video {
    z-index: 0;
    bottom: -10;
}

.fillWidth {
  background-size: cover;
  z-index: 0;
  position: absolute;
  /*width: 100%;*/
  padding-left: -5px;
  /*height: 80%;*/

}

@media only screen and (max-width: 950px) {
    .fillWidth {
        /*width: 120%;
        height: 120%;*/
    }
}

/* ----------------------------------------
   button
------------------------------------------- */

.logo {
  text-align: center;
}

.circle {
  width: 140px; /*needs to match line height to center "e"*/
  height: 140px; /*needs to match line height to center "e"*/
  border-radius: 50%;
  font-size: 110px;
  color: #fff;
  /*line-height: 135px; /*centers "e" in middle of circle*/
  text-align: center;
  background: #202020;
  /*vertical-align: center;*/
  margin: 2.6em;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-color: 1px #000000;
  box-shadow: 0 5px 15px black;
  z-index: 1;


  /*position: absolute;*/


  /*top: 50%; left: 50%;*/
  /*margin-left: 350px; margin-top: 350px;

  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50px;
 perspective: 800px;
 perspective-origin: 50% 50px;*/
}

@keyframes floating {
  from { transform: translate(0, 0px); }
  65% { transform: translate(0, 20px); }
  to { transform: translate(0, -0px); }
}

h1 {
  color: white;
  font-size: 50em;
  margin: 0;
  display: inline-block;
  /*position: relative;*/
  z-index: inherit;

}

.circle:hover {
  background: #3a0503;
  box-shadow:  0 2px 15px white;
  transition: 2s ease;
  -webkit-transition: 2s ease;
}

/* ----------------------------------------
   we're not using this yet...
------------------------------------------- */

/*to make button break into pieces*/
#wrap {
  /*position: absolute;*/
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #333;
  overflow: hidden;
}

.piece {
    background: rgba(95,144,222,0.5);
    float: left;
}

/*#popup h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    top: 50%; margin-top: -20px;
    font-family: 'Noto Sans', sans-serif;
    color: #ccc;
}*/
