/* ----------------------------------------
   global
------------------------------------------- */
html {
  background-image: url("../img/hot_air_balloon2.jpg");
  background: cover;
  background-repeat: no-repeat;
  background-size: 1700px 950px;
}

* {
  font-family: "Source Code Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  font-size: 1.6em;
}
p {
  line-height: 1.5em;
  padding: 0 1em 1em 1em;
  font-size: 1.2em;
  min-height: 7em;
}

span a {
  display: block;
  font-size: 1em;
  /*display: inline-block;*/
  color: gray;
}

#webdev {
  width: 100%;
}

/* ----------------------------------------
   body
------------------------------------------- */

body {
  display: flex;
  flex-direction: row;
}

h1 {
font-size: 3em;
color: white;
line-height: 3em;
}

/*change style on aside to just nav or new div within aside*/
/*change flex to rows or colums so that div appears on far left and nav appears "right", next to it*/
/*fix height too*/
aside {
  position: flex;

  padding: 3em;
  width: 21em;
  height: 55em;
  line-height: 5em;
  border-right: .10em solid #b6d7ee;
  background-color: #2D648A;
  opacity: 0.6;
}

aside a {
  color: white;
}

aside nav a {
  font-size: 1.5em;
  padding-top: 1em;
}

/* ----------------------------------------
   main
------------------------------------------- */

main {
  margin-left: 1em;
  text-align: center;
  width: 100%;
}

section {
  /*display: none;*/
}

section nav {
  /*position: fixed;*/
  top: 0;
  text-align: center;
  padding: 6.5em 0 2em 2em;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
}

section nav a {
  transition: .3s background-color;
  transition: 0.5s;
  transition-timing-function: linear;
}

section nav a:hover {
  border-color: 1px #000000;
  box-shadow: 0 10px 10px #2D648A;
}

div .sectionhome {
  /*position: fixed;*/
  top: 0;
  text-align: left;
  padding: 4em 0 2em 2em;
  background-color: #2D648A;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
}

section nav a {
  font-size: 1.5em;
  padding: 0 1em;
  color: #ffffff;
}

.grid-warpper {
  display: flex;
  flex-direction: row;
}

.grid-wrapper .inner-wrapper {
  display: flex;
}

.inner-wraper {
  flex-wrap: wrap;
}

.project {
  /*flex-direction: row;*/
  width: 30%;
  margin: 0.5em;
  height: 22em;
}

article {
  padding-top: 2em;
  /*display: none;*/
  /*margin: 0 auto;*/
  /*height: 5em;*/
  color: #ffffff;
  background-color: #2D648A;
  opacity: 0.6;
}

/*article #project {
  display: block;
}*/

/*#projectshome div {
  margin: 2% 0 0 2%;
  background-color: grey;
  background-size: cover;
  background-position: center;
  width: 30.5%;
}*/

#projectshome div p {
  margin-top: 35%;
}

article img {
  width: 10em;
  height: 7em;
}

.fa {
  font-size: 4em;
  line-height: 1.9em;
}

/*add screenshots of projects*/
/*#projectshomeone {
  background-image: url("../img/game.jpg");
}

#projectshometwo {
  background-image: url("../img/monument.jpg");
}

#projectshomethree {
  background-image: url("../img/shoppingcart.jpg");
}

#projectshomefour {
  background-image: url("../img/geoquakes.jpg");
}*/
